.gift-card{
  height: 400px;
  width: 100%;
  background-image: url(../images/gift.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  margin-top: 25px;
  text-align: center;
}

.paragraph-wrapper{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}